:root {
    --blanco: #ffffff;
    --oscuro: #000;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/*  Globales **/

@font-face {
    font-family: pablo;
    src: url(/fonts/BodoniXT.ttf);
}
html {
    font-family: 'pablo';
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
}
/** Scroll Snap**/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario2 {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--oscuro) 0% );
    background-size: cover ;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton {
    background-color: black;
    color:white;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 30%;
    text-align: center;
    border: none;
}
.boton3 {
    background-color: blue;
    color:white;
    padding: 10px 5px;
    margin-top: 3rem;
    font-size: 10px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
}
.boton2{
    background-color: rgb(17, 17, 104);
    color:white;
    padding: 1rem 3rem;
    justify-content: center;
    margin-right: 130px;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 60%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton2 {
        width: auto;
        
    }
}
.boton2:hover {
    cursor: pointer;
    
}
.boton3:hover{
    cursor: pointer;
}


.sombra {
    background-color: #0a0a0a;
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia */
h1 {
    color: white;
    font-size: 3.8rem;
    font-family: 'pablo';
    
}
h2 {
    font-size: 2.8rem;
    font-family: 'pablo';
}
h3 {
    font-size: 1.8rem;
    font-family: 'pablo';
}
h1,h2,h3 {
    text-align: center;
}


/* Titulos */
.titulo span {
    font-size: 2rem;
}

.titulo{
    color: white;
    font-size: 40px;
    font-family: 'pablo';
    src: url(/etiquette.otf);
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    margin-left: 35%;
}

.alinear-derecha {
    margin-left: 35%;
}
.alinear-izquierda {
    margin-right: 35%;
}

/* Navegacion Principal */
.nav-bg {
    background-color: #000;
    font-family: 'pablo';
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(/img/pizza-pepperoni-pizza.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 2rem;
    
}
.hero2 {
    background-image: url(/img/—Pngtree—summer\ atmosphere\ restaurant\ supermarket\ vegetable_1098004.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 5rem;
    
}
.contenido-hero {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}
.contenido-hero2 {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 70% );
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}



/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'pablo';
}
.servicio h3 {
    color: white;
 font-family: 'pablo';
 text-decoration: blink;
}

.titul0s h2{
    color: white;
    font-family: 'pablo';

}

.titul0s h4{
    color: white;
    font-family: 'pablo';
}

.titul0s h6{
    color: white;
    font-family: 'pablo';
}

.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: #212121(126, 121, 121);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.software{
    margin-top: 100px;
}
/** Contacto **/
.formulario {
    background-color: rgb(13, 13, 54);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3rem;
}
.formulario2 {
    background-color: rgb(13, 13, 54);
    width: min( 50rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    border-radius: 3rem;
}

.formulario fieldset {
    border: none;
}
.formulario2 fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}
.formulario2 legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: white;
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

@media (min-width: 768px) {
    .contenedor-campos2 {
        
        display:inline;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 10rem ;
        column-gap: 1rem;

       
    }
    .boton3 {
        background-color: blue;
        color:white;
        padding: 0.3rem 0.3rem;
        margin-top: 3rem;
        font-size: 15px;
        margin-right: 2px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: .5rem;
        width: 50%;
        text-align: center;
        border: none;
    }
        
    

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}





.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.input-text {
    align-items: center;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.input-text2 {
    width: 75%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
img{
    width: 100px;
    height: 100px;
}
/** Footer **/
.footer {
    text-align: center;
    color: white;
}


.mesa label
{color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    


}

.mesa{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -15px;
    min-width: 250px;
    height: 50px;
}


.personas{
    border: none;
    appearance: none;

padding: 0 30px 0 15px;
width: 100%;

font-size: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner-img.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("card-img.jpg") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #f2745f;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
} 

.gallery{
    display: flex;
    max-width: 1085px;
    gap: 5px;
    margin: auto;
    margin-bottom: 14%;
}

.gallery img {
     height:550px ;
     flex: 1;
     object-fit: cover;
     object-position: center;
     overflow: hidden;
     transition: 0.6s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
     cursor: pointer;
}

.gallery img:hover {
    flex: 4;

}

.maps{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
   align-self: center;
}













   



